CollaborativeMediaWall/.vs/CollaborativeMediaWall/v16/

CollaborativeMediaWall/bin/CollaborativeMediaWall_debug.exe

CollaborativeMediaWall/bin/CollaborativeMediaWall_debug.ilk

CollaborativeMediaWall/bin/CollaborativeMediaWall_debug.pdb
